:root {
  --header-height: 4.5rem;

  /* fonts */
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav ul li {
    margin-bottom: 0;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--title-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */

  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */

  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-pagination-bullets {
    display: none;
    visibility: hidden;
   }

  /* contact */

  #contact .container {
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }

  .back-to-top {
    padding: 0.5rem;
  }

}
    
@media (min-width: 767px) and (max-width: 1199px) {
  .container {
    max-width: 687px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 7rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 25rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.313rem;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 25rem;
    text-align: left;
  }

  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
    align-items: center;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }


  #contact .container {
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }

  .back-to-top {
    padding: 0.8rem;
  }

}
