footer {
    background: var(--cor-p2);
  }
  
  footer .brand .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  
  footer .brand p {
    margin-bottom: 0.75rem;
  }
  
  footer i {
    font-size: 1.5rem;
  }
  
  footer .social a {
    margin-right: 2rem;
    transition: 0.3s;
    display: inline-block;
  }
  
  footer .social a:hover {
    transform: translateY(-8px);
  }

  